{% extends 'base.html' %}

{% block title %}Create an account{% endblock %}

{% block content %}
    <h1>Create an account</h1>
    <P>Please, sing up using the following from:</P>
    <form method="post">
        {{ user_form.as_p }}
        {% csrf_token %}
        <P><input type="submit" value="Create my account"></P>
    </form>
{% endblock %}