{#{% extends "base.html" %}#}
{#{% block title %}Log-in{% endblock %}#}
{#{% block content %}#}
{#    <h1>Log-in</h1>#}
{#    <p>Please, use the following form to log-in:</p>#}
{#    <form method="post">#}
{#        {{ form.as_p }}#}
{#        {% csrf_token %}#}
{#        <p><input type="submit" value="Log in"></p>#}
{#    </form>#}
{#{% endblock %}#}
{% extends "base.html" %}
{% block title %}Log-in{% endblock %}
{% block content %}
    <h1>Log-in</h1>
    {% if form.errors %}
        <p>
        Your username and password didn't match.
        Please try again.
        </p>
    {% else %}
        <p>Please, use the following form to log-in:</p>
    {% endif %}
    <div class="login-form">
        <form action="{% url 'login' %}" method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
        <p><input type="submit" value="Log-in"></p>
        </form>
    </div>
{% endblock %}