{% extends "base.html" %}
{% load static i18n%}
{% block content %}

    <div class="page-banner about-us-banner">
        <h2>{% trans 'About us' %}</h2>
    </div>

    <div class='about'>
        <div class="smaller__container container">
            <div class='about__container--content'>
                <h1 class="smaller__container--h1">{{ about_us.title }}</h1>
                <p class="about__container--p">{{ about_us.description }}</p>
            </div>

            <div class='about__tree'>
                <div class='about__tree--box'>
                    <p class='about__box--p'><img src="{{ about_us.image.url }}" alt=""></p>
                </div>
            </div>

            <div class='owner'>
                <p class='owner--p'>{{ about_us.owner }}</p>
                <h2 class='owner--h2'>{{ about_us.name }}</h2>
            </div>
        </div>

    </div>
{% endblock %}