{% load static i18n app_tags %}
{% get_available_languages as languages%}
{% get_current_language as LANGUAG_CODE  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/owl.carousel.min.css" %}">
    <link rel="stylesheet" href="{% static "css/styles.css" %} ">
    <link rel="stylesheet" href="{% static "css/owl.carousel.min.css" %}">
    <link rel="stylesheet" href="{% static "css/media.css" %}">
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    <title>{% block title %}CHARA{% endblock %}</title>
</head>
<body>
    <div class="ham-menu">

        <div class="hamburger-menu " >
            <div class="hamburger-bar"></div>
            <div class="hamburger-bar"></div>
            <div class="hamburger-bar"></div>
          </div>
    </div>
    <section class="head">

        <div class="mid-container">

            <div class="navbar">
                <div class="q-contact">

                <span class="Myanmar">{% trans "Quick Contacts:" %} </span>
                <a href="tel:99899 777 77 77">99899 777 77 77</a>

                </div>

                <div class="nav-menues">
                    <div class="nav-search">
                        <button type="submit"><img src="{% static "img/search-btn.png" %}" alt="searchbtn"></button>
                        <input type="search" class="Leelawadee" placeholder="{% trans "Search" %} Ch.accessoires">
                    </div>

                    <div class="sign ">
                        <a href="{% url 'login' %}">{% trans "sign in" %}</a>
                    </div>
                    <div class="register">
                        <a href="{% url 'app:register' %}">{% trans "register" %}</a>
                    </div>
                    <div class="unknown">
                        <a href="#"><img src="{% static "img/prev.png" %}" alt=""></a>
                    </div>
                    <div class="lang">
                        <span class="">{{ LANGUAG_CODE }}</span>

                        <ul>
                            {% for language, title in languages %}
                                <li {% if language ==  LANGUAGE_CODE %}  class="active" {% endif %}>
                                    {% get_url_tag request=request lang=language as url %}
                                    <a href="{{ url }}">{{ language }}</a>
                                </li>
                            {% endfor %}
                        </ul>

                    </div>
                </div>
            </div>
            <div class="head-icon">
                <a href="{% url "app:home" %}">
                    <img src="{% static "img/main-logo.png" %}" alt="">
                </a>
            </div>
        </div>
        <div class="head-content">
            <div class="main-menu">
                <ul class="main-menu__lists">
                    <li>
                        <a href="{% url 'app:about' %}">{% trans "About Chara" %}</a>
                    </li>
                    <li>
                        <a href="{% url 'app:new' %}">{% trans "New" %}</a>
                    </li>
                    <li>
                        <a href="{% url 'app:women' %}">{% trans "Women" %}</a>
                    </li>
                    <li>
                        <a href="{% url 'app:girls' %}">{% trans "Girls" %}</a>
                    </li>
                    <li>
                        <a href="{% url 'app:contact' %}">{% trans "Contact" %}</a>
                    </li>
                </ul>
            </div>
        </div>

        {% for discount_item in discounts %}
            <div class="head-slider owl-carousel  ">

                {% if forloop.counter == 1  %}
                 <p> {{ discount_item.title }}</p>

               {% endif %}
            </div>
        {% endfor %}

        <div class="head-learn">

            <a href="#">learn more</a>
        </div>
    </section>

{% block content %}


{% endblock %}

    <footer>
        <div class="mid-container">
            <div class="foo-wrapper">
                <div class="foo-list_icon">
                    <a href="{% url "app:home" %}"><img src="{% static "img/chara.accessories.png" %}" alt=""></a>
                    <p>Lorem Ipsum Dolor Sit Amet,
                        Consectetur Adipiscing Elit,
                        Sed Do Eiusmod Tempor
                        Incididunt Ut Labore Et Dolore
                        Magna Aliqua. </p>
                </div>

                <div class="foo-list">
                    <h2>{% trans "Chara's Products" %}</h2>
                    <a href="#">For Baby girls</a>
                    <a href="#">For Ladies</a>
                    <a href="#">For Wedding</a>
                </div>
                <div class="foo-list">
                    <h2>{% trans "Quick Links" %}</h2>
                    <a href="{% url 'app:about' %}">About Chara</a>
                    <a href="{% url "app:new" %}">New</a>
                    <a href="#">For Wedding</a>
                </div>
                <div class="foo-list">
                    <h2>{% trans "Help" %}</h2>
                    <a href="#">Support</a>
                    <a href="#">FAQs</a>
                    <a href="#">Contact</a>
                </div>
                <div class="foo-list__brends">
                    <h2>{% trans "Social Media" %}</h2>
                    <a href="https://www.facebook.com/" class="facebook">
                        <?xml version="1.0"?><svg class="foo-svg" fill="#000000" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" width="64px" height="64px">    <path d="M52.42,11.407C46.949,5.982,39.704,3,32.005,3c-0.042,0-0.085,0-0.127,0c-7.746,0.033-15.017,3.08-20.471,8.581 C5.953,17.082,2.967,24.377,3,32.123c0.033,7.746,3.08,15.016,8.58,20.47C17.051,58.018,24.296,61,31.995,61 c0.042,0,0.085,0,0.127,0c7.746-0.033,15.017-3.08,20.471-8.581c5.454-5.501,8.44-12.796,8.407-20.542 C60.967,24.131,57.92,16.861,52.42,11.407z M32.114,59c-1.3,0.004-2.585-0.086-3.851-0.261V38.626h-6.186v-6.572h6.186v-4.373 c0-7.24,3.527-10.418,9.544-10.418c2.882,0,4.405,0.214,5.127,0.311v5.736h-4.104c-2.554,0-3.446,2.422-3.446,5.152v3.592h7.486 l-1.016,6.572h-6.47v20.157C34.307,58.917,33.217,58.995,32.114,59z M51.173,51.011c-3.817,3.85-8.59,6.408-13.789,7.454V40.626 h4.47c0.987,0,1.826-0.719,1.977-1.694l1-6.468c0.028-0.132,0.042-0.269,0.042-0.409c0-1.105-0.893-2-1.997-2h-0.005h-5.486v-1.592 c0-1.177,0.188-3.152,1.446-3.152h4.104c1.105,0,2-0.895,2-2v-5.736c0-1.001-0.74-1.848-1.733-1.982 c-0.82-0.111-2.435-0.329-5.394-0.329c-7.444,0-11.544,4.41-11.544,12.418v2.373h-4.186c-1.105,0-2,0.895-2,2v6.572 c0,1.105,0.895,2,2,2h4.186v17.756c-4.982-1.074-9.568-3.534-13.274-7.209C7.867,46.095,5.03,39.326,5,32.114 c-0.03-7.212,2.749-14.004,7.827-19.125C17.905,7.868,24.674,5.031,31.886,5c0.04,0,0.079,0,0.119,0 c7.167,0,13.913,2.777,19.006,7.827C56.133,17.905,58.97,24.674,59,31.886C59.03,39.098,56.251,45.89,51.173,51.011z M52.834,43.914 c-0.001,0.001-0.002,0.003-0.002,0.003c-0.276,0.477-0.884,0.642-1.363,0.368l-1.736-0.992c-0.479-0.274-0.646-0.885-0.372-1.364 c0.001-0.002,0.002-0.003,0.003-0.004c0.276-0.477,0.884-0.642,1.363-0.368l1.736,0.992C52.942,42.824,53.109,43.434,52.834,43.914z M55.059,38.478c-0.023,0.088-0.057,0.17-0.101,0.247c-0.22,0.381-0.674,0.584-1.12,0.466l-1.934-0.51 c-0.535-0.14-0.852-0.687-0.712-1.222c0.142-0.53,0.687-0.853,1.222-0.712l1.933,0.509C54.881,37.396,55.199,37.943,55.059,38.478z M44.994,50.817c0.187,0.32,0.174,0.704,0.001,1.004c-0.084,0.146-0.207,0.272-0.362,0.363c-0.478,0.277-1.09,0.116-1.368-0.36 l-1.007-1.728c-0.278-0.477-0.117-1.089,0.36-1.367c0.477-0.279,1.09-0.118,1.369,0.361L44.994,50.817z M55.803,32.652 c0,0.184-0.048,0.356-0.134,0.504c-0.172,0.298-0.493,0.498-0.863,0.5l-2,0.008c-0.552,0.002-1.002-0.443-1.004-0.995 c-0.003-0.555,0.442-1.002,0.996-1.005l2.001-0.007C55.352,31.655,55.801,32.1,55.803,32.652z M49.272,47.176 c0.33,0.327,0.384,0.827,0.163,1.21c-0.043,0.074-0.096,0.142-0.157,0.205c-0.389,0.392-1.022,0.395-1.414,0.005l-1.42-1.409 c-0.393-0.39-0.387-1.028-0.005-1.414c0.389-0.392,1.022-0.394,1.414-0.005L49.272,47.176z M27.16,9.613 c0.091,0.38-0.049,0.764-0.33,1c-0.115,0.097-0.252,0.169-0.408,0.206c-0.744,0.179-1.482,0.4-2.196,0.658 c-0.521,0.187-1.094-0.082-1.28-0.601c-0.188-0.52,0.083-1.093,0.601-1.28c0.784-0.282,1.593-0.525,2.406-0.72 C26.491,8.746,27.031,9.076,27.16,9.613z M20.82,11.895c0.286,0.472,0.14,1.079-0.338,1.374c-4.092,2.481-7.242,6.31-8.868,10.784 c-0.062,0.171-0.165,0.314-0.295,0.423c-0.265,0.223-0.638,0.303-0.984,0.176c-0.52-0.188-0.787-0.762-0.599-1.282 c1.78-4.901,5.227-9.096,9.71-11.813C19.919,11.272,20.535,11.423,20.82,11.895z"/></svg>
                    </a>
                    <a href="https://twitter.com/" class="twitter">
                        <svg fill="#000000" class="foo-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80" width="80px" height="80px"><path d="M 72.6875 12.746094 L 70.421875 14.089844 C 68.121094 15.453125 65.574219 16.433594 62.875 17.015625 C 60.34375 14.546875 56.90625 12.992188 53.09375 12.992188 C 45.339844 12.992188 39.027344 19.304688 39.027344 27.0625 C 39.027344 27.675781 39.152344 28.257813 39.230469 28.855469 C 29.160156 28.011719 20.238281 23.152344 14.203125 15.753906 L 13.292969 14.632813 L 12.566406 15.882813 C 11.355469 17.960938 10.660156 20.378906 10.660156 22.953125 C 10.660156 26.496094 12 29.71875 14.164063 32.195313 C 13.429688 31.953125 12.707031 31.691406 12.042969 31.324219 L 10.558594 30.496094 L 10.558594 32.359375 C 10.558594 37.597656 13.457031 42.128906 17.714844 44.546875 C 17.25 44.515625 16.777344 44.503906 16.328125 44.417969 L 14.671875 44.101563 L 15.1875 45.703125 C 16.714844 50.472656 20.773438 53.960938 25.730469 55.007813 C 21.789063 57.539063 17.152344 59.066406 12.117188 59.066406 C 11.101563 59.066406 10.101563 59.011719 9.117188 58.890625 L 4.796875 58.375 L 8.460938 60.730469 C 14.398438 64.535156 21.457031 66.753906 29.03125 66.753906 C 41.324219 66.753906 50.921875 61.632813 57.382813 54.300781 C 63.84375 46.972656 67.207031 37.464844 67.207031 28.578125 C 67.207031 28.15625 67.195313 27.742188 67.183594 27.328125 C 69.640625 25.472656 71.808594 23.238281 73.523438 20.675781 L 75.441406 17.804688 L 72.285156 19.207031 C 71.105469 19.734375 69.898438 20.148438 68.660156 20.484375 C 70.0625 18.984375 71.234375 17.285156 71.886719 15.253906 Z M 53.09375 14.992188 C 56.570313 14.992188 59.703125 16.457031 61.90625 18.804688 L 62.28125 19.207031 L 62.828125 19.101563 C 64.882813 18.695313 66.8125 17.984375 68.671875 17.148438 C 67.695313 18.792969 66.492188 20.253906 64.824219 21.253906 L 64.027344 21.730469 L 64.78125 23.234375 L 65.480469 23.152344 C 66.9375 22.972656 68.328125 22.664063 69.679688 22.269531 C 68.4375 23.667969 67.101563 24.980469 65.585938 26.078125 L 65.152344 26.390625 L 65.171875 26.929688 C 65.195313 27.476563 65.207031 28.027344 65.207031 28.578125 C 65.207031 36.957031 62.003906 46.039063 55.882813 52.980469 C 49.761719 59.921875 40.773438 64.753906 29.03125 64.753906 C 23.292969 64.753906 17.902344 63.367188 13.085938 60.984375 C 19.054688 60.773438 24.5625 58.710938 28.964844 55.261719 L 31.175781 53.527344 L 28.363281 53.472656 C 23.660156 53.386719 19.742188 50.542969 17.828125 46.558594 C 18.085938 46.574219 18.332031 46.632813 18.59375 46.632813 C 19.878906 46.632813 21.125 46.460938 22.304688 46.140625 L 26.375 45.023438 L 22.234375 44.191406 C 17.1875 43.179688 13.441406 38.96875 12.808594 33.785156 C 14.265625 34.355469 15.800781 34.777344 17.441406 34.828125 L 20.9375 34.941406 L 18.03125 33 C 14.792969 30.835938 12.660156 27.148438 12.660156 22.953125 C 12.660156 21.21875 13.117188 19.621094 13.769531 18.132813 C 20.363281 25.570313 29.726563 30.507813 40.3125 31.035156 L 41.636719 31.105469 L 41.339844 29.8125 C 41.132813 28.929688 41.027344 28.007813 41.027344 27.0625 C 41.027344 20.386719 46.421875 14.992188 53.09375 14.992188 Z M 53 17 C 52.449219 17 52 17.449219 52 18 C 52 18.550781 52.449219 19 53 19 C 53.550781 19 54 18.550781 54 18 C 54 17.449219 53.550781 17 53 17 Z M 48.472656 18.203125 C 48.308594 18.210938 48.144531 18.253906 48 18.339844 C 47.519531 18.617188 47.355469 19.226563 47.632813 19.703125 C 47.910156 20.183594 48.519531 20.347656 49 20.074219 C 49.226563 19.941406 49.394531 19.722656 49.464844 19.464844 C 49.535156 19.207031 49.5 18.933594 49.363281 18.703125 C 49.183594 18.386719 48.839844 18.195313 48.472656 18.203125 Z M 45.15625 21.5 C 44.820313 21.519531 44.511719 21.707031 44.339844 22 C 44.207031 22.230469 44.171875 22.503906 44.238281 22.757813 C 44.308594 23.015625 44.476563 23.234375 44.703125 23.367188 C 45.183594 23.644531 45.792969 23.476563 46.070313 23 C 46.347656 22.523438 46.183594 21.910156 45.703125 21.636719 C 45.539063 21.539063 45.347656 21.492188 45.15625 21.5 Z M 44 26 C 43.449219 26 43 26.449219 43 27 C 43 27.550781 43.449219 28 44 28 C 44.550781 28 45 27.550781 45 27 C 45 26.449219 44.550781 26 44 26 Z M 24 35 C 23.449219 35 23 35.449219 23 36 C 23 36.550781 23.449219 37 24 37 C 24.550781 37 25 36.550781 25 36 C 25 35.449219 24.550781 35 24 35 Z M 28 36 C 27.449219 36 27 36.449219 27 37 C 27 37.550781 27.449219 38 28 38 C 28.550781 38 29 37.550781 29 37 C 29 36.449219 28.550781 36 28 36 Z M 32 37 C 31.449219 37 31 37.449219 31 38 C 31 38.550781 31.449219 39 32 39 C 32.550781 39 33 38.550781 33 38 C 33 37.449219 32.550781 37 32 37 Z M 29 44 C 28.449219 44 28 44.449219 28 45 C 28 45.550781 28.449219 46 29 46 C 29.550781 46 30 45.550781 30 45 C 30 44.449219 29.550781 44 29 44 Z M 33 44 C 32.449219 44 32 44.449219 32 45 C 32 45.550781 32.449219 46 33 46 C 33.550781 46 34 45.550781 34 45 C 34 44.449219 33.550781 44 33 44 Z M 34 51 C 33.449219 51 33 51.449219 33 52 C 33 52.550781 33.449219 53 34 53 C 34.550781 53 35 52.550781 35 52 C 35 51.449219 34.550781 51 34 51 Z"/></svg>
                    </a>
                    <a href="https://web.telegram.org/" class="telegram">
                        <svg fill="#000000" class="foo-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80" width="80px" height="80px"><path d="M 70.511719 10.986328 C 69.833089 11.015588 69.157051 11.196735 68.537109 11.4375 L 68.535156 11.4375 C 67.931048 11.673297 64.049934 13.281226 58.392578 15.628906 C 52.735222 17.976586 45.3821 21.032905 38.091797 24.064453 C 23.51119 30.12755 9.1835937 36.091797 9.1835938 36.091797 L 9.2480469 36.068359 C 9.2480469 36.068359 8.4485192 36.330303 7.6484375 36.871094 C 7.2483967 37.141489 6.8283994 37.486951 6.4960938 37.966797 C 6.163788 38.446643 5.9299055 39.103809 6.0195312 39.808594 C 6.1812736 41.080477 7.0482024 41.912426 7.7636719 42.412109 C 8.4791414 42.911793 9.1660156 43.148437 9.1660156 43.148438 L 9.1738281 43.152344 L 23.1875 47.785156 C 23.418097 48.587707 27.163839 61.631062 28.046875 64.384766 C 28.50876 65.826709 28.935922 66.627156 29.335938 67.130859 C 29.535944 67.382711 29.733459 67.561543 29.931641 67.683594 C 30.016841 67.736064 30.101273 67.771554 30.183594 67.802734 C 30.197014 67.807834 30.211349 67.817736 30.224609 67.822266 C 30.252855 67.83191 30.267938 67.831811 30.302734 67.839844 C 31.62302 68.328201 32.738281 67.476563 32.738281 67.476562 L 32.769531 67.453125 L 42.376953 59 L 56.585938 70.394531 L 56.710938 70.449219 C 58.991132 71.431474 60.875783 70.891854 61.970703 70.027344 C 63.065623 69.162833 63.509766 68.03125 63.509766 68.03125 L 63.544922 67.943359 L 73.794922 16.097656 C 74.046117 14.98858 74.071392 14.057617 73.853516 13.257812 C 73.635643 12.458006 73.128863 11.807693 72.5 11.443359 C 71.871137 11.079025 71.190348 10.957066 70.511719 10.986328 z M 70.566406 13.021484 C 70.96444 13.004357 71.29991 13.059037 71.498047 13.173828 C 71.696183 13.288619 71.824951 13.420226 71.923828 13.783203 C 72.022708 14.14618 72.046557 14.758873 71.84375 15.654297 L 71.839844 15.667969 L 61.630859 67.3125 C 61.615849 67.34707 61.352842 67.965627 60.730469 68.457031 C 60.102941 68.952505 59.248838 69.318622 57.578125 68.626953 L 34.738281 50.310547 A 1.0001 1.0001 0 0 0 34 50 A 1.0001 1.0001 0 0 0 32.988281 50.974609 L 30.384766 64.923828 C 30.251656 64.61729 30.108215 64.257609 29.953125 63.773438 C 29.147161 61.260079 25.522903 48.675314 25.166016 47.435547 L 61.013672 24.226562 A 1.0001 1.0001 0 0 0 62 25 A 1.0001 1.0001 0 0 0 62.988281 23.783203 C 63.014848 23.477186 62.989225 23.17624 62.855469 22.876953 C 62.639651 22.394056 62.128723 22.100054 61.765625 22.03125 C 61.039429 21.893642 60.566406 22.158203 60.566406 22.158203 L 60.466797 22.195312 L 23.857422 45.900391 L 9.8261719 41.261719 L 9.8222656 41.259766 C 9.8185507 41.25848 9.3777555 41.099419 8.9082031 40.771484 C 8.4366726 40.442168 8.062164 40.014757 8.0039062 39.556641 C 7.9835322 39.396426 8.0143062 39.287873 8.140625 39.105469 C 8.2669443 38.923065 8.501119 38.707449 8.7675781 38.527344 C 9.3004964 38.167134 9.8886719 37.962891 9.8886719 37.962891 L 9.9199219 37.951172 L 9.953125 37.9375 C 9.953125 37.9375 24.279232 31.97306 38.859375 25.910156 C 46.149446 22.878704 53.503668 19.823883 59.160156 17.476562 C 64.816644 15.129243 68.856374 13.458984 69.261719 13.300781 C 69.707777 13.127547 70.168373 13.038612 70.566406 13.021484 z M 59.199219 25.699219 L 58.398438 26.101562 L 58.240234 26.984375 L 58.853516 27.638672 L 59.199219 27.699219 L 60 27.298828 L 60.158203 26.416016 L 59.546875 25.761719 L 59.199219 25.699219 z M 56.400391 28.400391 L 55.599609 28.800781 L 55.441406 29.683594 L 56.052734 30.337891 L 56.400391 30.400391 L 57.201172 29.998047 L 57.359375 29.117188 L 56.746094 28.462891 L 56.400391 28.400391 z M 53.599609 31.099609 L 52.798828 31.501953 L 52.640625 32.382812 L 53.251953 33.037109 L 53.599609 33.099609 L 54.400391 32.699219 L 54.558594 31.816406 L 53.947266 31.162109 L 53.599609 31.099609 z M 50.800781 33.800781 L 49.998047 34.201172 L 49.841797 35.083984 L 50.453125 35.738281 L 50.800781 35.800781 L 51.601562 35.398438 L 51.759766 34.517578 L 51.146484 33.861328 L 50.800781 33.800781 z M 48 36.5 L 47.199219 36.902344 L 47.041016 37.783203 L 47.652344 38.4375 L 48 38.5 L 48.800781 38.099609 L 48.958984 37.216797 L 48.347656 36.5625 L 48 36.5 z M 45.199219 39.199219 L 44.398438 39.601562 L 44.240234 40.484375 L 44.853516 41.138672 L 45.199219 41.199219 L 46.001953 40.798828 L 46.158203 39.916016 L 45.546875 39.261719 L 45.199219 39.199219 z M 42.400391 41.900391 L 41.599609 42.300781 L 41.441406 43.183594 L 42.052734 43.837891 L 42.400391 43.900391 L 43.201172 43.498047 L 43.359375 42.617188 L 42.746094 41.962891 L 42.400391 41.900391 z M 39.599609 44.599609 L 38.798828 45.001953 L 38.640625 45.882812 L 39.253906 46.537109 L 39.599609 46.599609 L 40.400391 46.199219 L 40.558594 45.316406 L 39.947266 44.662109 L 39.599609 44.599609 z M 36.800781 47.300781 L 35.998047 47.701172 L 35.841797 48.583984 L 36.453125 49.238281 L 36.800781 49.300781 L 37.601562 48.898438 L 37.759766 48.015625 L 37.146484 47.361328 L 36.800781 47.300781 z M 34.675781 52.824219 L 40.794922 57.730469 L 32.378906 65.132812 L 34.675781 52.824219 z"/></svg>
                    </a>
                    <a href="https://www.instagram.com/" class="instagram">
                        <svg fill="#000000" class="foo-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" width="64px" height="64px"><path d="M 13 6 C 9.140625 6 6 9.140625 6 13 L 6 51 C 6 54.859375 9.140625 58 13 58 L 51 58 C 54.859375 58 58 54.859375 58 51 L 58 13 C 58 9.140625 54.859375 6 51 6 Z M 13 8 L 51 8 C 53.757813 8 56 10.242188 56 13 L 56 51 C 56 53.757813 53.757813 56 51 56 L 13 56 C 10.242188 56 8 53.757813 8 51 L 8 13 C 8 10.242188 10.242188 8 13 8 Z M 48 13 C 46.347656 13 45 14.347656 45 16 C 45 17.652344 46.347656 19 48 19 C 49.652344 19 51 17.652344 51 16 C 51 14.347656 49.652344 13 48 13 Z M 48 14.53125 C 48.808594 14.53125 49.46875 15.191406 49.46875 16 C 49.46875 16.808594 48.808594 17.46875 48 17.46875 C 47.191406 17.46875 46.53125 16.808594 46.53125 16 C 46.53125 15.191406 47.191406 14.53125 48 14.53125 Z M 32 18 C 24.28125 18 18 24.28125 18 32 C 18 39.71875 24.28125 46 32 46 C 39.71875 46 46 39.71875 46 32 C 46 24.28125 39.71875 18 32 18 Z M 32 20 C 38.617188 20 44 25.382813 44 32 C 44 38.617188 38.617188 44 32 44 C 25.382813 44 20 38.617188 20 32 C 20 25.382813 25.382813 20 32 20 Z M 32 22 C 26.484375 22 22 26.484375 22 32 C 22 37.515625 26.484375 42 32 42 C 37.515625 42 42 37.515625 42 32 C 42 26.484375 37.515625 22 32 22 Z M 32 24 C 36.410156 24 40 27.589844 40 32 C 40 36.410156 36.410156 40 32 40 C 27.589844 40 24 36.410156 24 32 C 24 27.589844 27.589844 24 32 24 Z M 12 49 C 11.449219 49 11 49.449219 11 50 L 11 52 C 11 52.550781 11.449219 53 12 53 C 12.550781 53 13 52.550781 13 52 L 13 50 C 13 49.449219 12.550781 49 12 49 Z M 17 49 C 16.449219 49 16 49.449219 16 50 L 16 52 C 16 52.550781 16.449219 53 17 53 C 17.550781 53 18 52.550781 18 52 L 18 50 C 18 49.449219 17.550781 49 17 49 Z M 22 49 C 21.449219 49 21 49.449219 21 50 L 21 52 C 21 52.550781 21.449219 53 22 53 C 22.550781 53 23 52.550781 23 52 L 23 50 C 23 49.449219 22.550781 49 22 49 Z M 27 49 C 26.449219 49 26 49.449219 26 50 L 26 52 C 26 52.550781 26.449219 53 27 53 C 27.550781 53 28 52.550781 28 52 L 28 50 C 28 49.449219 27.550781 49 27 49 Z M 32 49 C 31.449219 49 31 49.449219 31 50 L 31 52 C 31 52.550781 31.449219 53 32 53 C 32.550781 53 33 52.550781 33 52 L 33 50 C 33 49.449219 32.550781 49 32 49 Z M 37 49 C 36.449219 49 36 49.449219 36 50 L 36 52 C 36 52.550781 36.449219 53 37 53 C 37.550781 53 38 52.550781 38 52 L 38 50 C 38 49.449219 37.550781 49 37 49 Z M 42 49 C 41.449219 49 41 49.449219 41 50 L 41 52 C 41 52.550781 41.449219 53 42 53 C 42.550781 53 43 52.550781 43 52 L 43 50 C 43 49.449219 42.550781 49 42 49 Z M 47 49 C 46.449219 49 46 49.449219 46 50 L 46 52 C 46 52.550781 46.449219 53 47 53 C 47.550781 53 48 52.550781 48 52 L 48 50 C 48 49.449219 47.550781 49 47 49 Z M 52 49 C 51.449219 49 51 49.449219 51 50 L 51 52 C 51 52.550781 51.449219 53 52 53 C 52.550781 53 53 52.550781 53 52 L 53 50 C 53 49.449219 52.550781 49 52 49 Z"/></svg>
                    </a>
                    <a href="https://www.whatsapp.com/" class="whatsup">
                        <svg fill="#000000" class="foo-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="100px" height="100px"><path d="M 50 15 C 30.68158 15 15 30.68158 15 50 C 15 56.13094 16.607004 61.884452 19.378906 66.896484 L 15.072266 82.464844 C 14.671771 83.913976 16.085438 85.328373 17.535156 84.925781 L 33.105469 80.619141 C 38.11809 83.391483 43.869654 85 50 85 C 69.31842 85 85 69.31842 85 50 C 85 30.68158 69.31842 15 50 15 z M 50 17 C 68.23758 17 83 31.76242 83 50 C 83 68.23758 68.23758 83 50 83 C 44.064811 83 38.507278 81.426921 33.695312 78.685547 A 1.0001 1.0001 0 0 0 32.933594 78.591797 L 17 82.998047 L 21.408203 67.066406 A 1.0001 1.0001 0 0 0 21.3125 66.304688 C 18.572114 61.493724 17 55.935189 17 50 C 17 31.76242 31.76242 17 50 17 z M 50 22 C 34.541787 22 22 34.541787 22 50 C 22 55.881567 23.836204 61.330109 26.935547 65.835938 L 24.408203 74.976562 A 0.50005 0.50005 0 0 0 25.023438 75.591797 L 34.164062 73.064453 C 38.670353 76.164715 44.118498 78 50 78 C 65.458213 78 78 65.458213 78 50 C 78 42.300345 74.888757 35.321559 69.855469 30.259766 A 0.50064154 0.50064154 0 0 0 69.144531 30.964844 C 73.999243 35.84705 77 42.569655 77 50 C 77 64.917787 64.917787 77 50 77 C 44.23771 77 38.905865 75.191654 34.521484 72.117188 A 0.50005 0.50005 0 0 0 34.101562 72.044922 L 25.607422 74.394531 L 27.957031 65.900391 A 0.50005 0.50005 0 0 0 27.884766 65.480469 C 24.810274 61.096051 23 55.763251 23 50 C 23 35.082213 35.082213 23 50 23 C 52.55371 23 55.020926 23.36246 57.363281 24.025391 A 0.50048162 0.50048162 0 1 0 57.636719 23.0625 C 55.209074 22.375431 52.64829 22 50 22 z M 60.496094 24.078125 A 0.50005 0.50005 0 0 0 60.308594 25.041016 C 61.322994 25.460903 62.30459 25.942928 63.253906 26.478516 A 0.50005 0.50005 0 1 0 63.746094 25.609375 C 62.76341 25.054963 61.745006 24.5533 60.691406 24.117188 A 0.50005 0.50005 0 0 0 60.496094 24.078125 z M 65.501953 26.78125 A 0.50005 0.50005 0 0 0 65.21875 27.697266 C 65.896135 28.160326 66.552092 28.652154 67.181641 29.171875 A 0.50014932 0.50014932 0 0 0 67.818359 28.400391 C 67.163908 27.860112 66.481865 27.351987 65.78125 26.873047 A 0.50005 0.50005 0 0 0 65.501953 26.78125 z M 38.505859 34.007812 C 37.845251 34.007813 36.824284 34.260032 35.978516 35.199219 C 35.271123 35.972723 32.998047 38.173727 32.998047 42.396484 C 32.998047 46.679817 36.023022 50.663593 36.412109 51.195312 L 36.414062 51.199219 L 36.416016 51.201172 C 36.430436 51.220332 36.575724 51.438775 36.775391 51.734375 C 36.975058 52.029975 37.248201 52.42704 37.589844 52.898438 C 38.273129 53.841229 39.231039 55.081376 40.439453 56.410156 C 42.856281 59.067717 46.270549 62.086384 50.5 63.777344 L 50.5 63.779297 C 53.950904 65.155835 56.049506 65.717908 57.503906 65.916016 C 58.958307 66.114123 59.774729 65.934404 60.470703 65.871094 L 60.472656 65.871094 C 61.387233 65.783994 62.594991 65.255966 63.746094 64.501953 C 64.897196 63.747941 65.973248 62.780676 66.378906 61.625 C 66.731316 60.624677 66.90952 59.697083 66.972656 58.958984 C 67.004226 58.589935 67.006568 58.268044 66.986328 58 C 66.966088 57.731956 66.952928 57.536276 66.816406 57.300781 L 66.814453 57.300781 C 66.637307 56.996725 66.369529 56.822032 66.078125 56.660156 C 65.787163 56.498526 65.449818 56.34545 65.052734 56.144531 L 65.050781 56.144531 C 64.637858 55.933746 63.442559 55.335311 62.248047 54.751953 C 61.052867 54.16827 59.91589 53.618524 59.449219 53.445312 L 59.447266 53.445312 C 59.064546 53.305532 58.679978 53.164003 58.230469 53.216797 C 57.78096 53.269587 57.352991 53.568619 57.033203 54.052734 C 56.544054 54.793239 54.963453 56.687978 54.5 57.222656 L 54.5 57.224609 L 54.498047 57.224609 C 54.307125 57.445275 54.196764 57.501114 54.064453 57.517578 C 53.932143 57.534038 53.705281 57.493568 53.341797 57.3125 L 53.345703 57.316406 C 52.873162 57.075171 52.068986 56.779112 50.955078 56.175781 C 49.841171 55.57245 48.447878 54.678493 46.929688 53.306641 C 44.585287 51.188617 42.970013 48.538118 42.507812 47.734375 L 42.507812 47.732422 C 42.322359 47.412661 42.342497 47.293967 42.390625 47.162109 C 42.438345 47.031376 42.583064 46.859731 42.78125 46.658203 L 42.785156 46.654297 C 43.200691 46.240138 43.642306 45.646556 44.033203 45.185547 L 44.035156 45.183594 L 44.035156 45.181641 C 44.474846 44.654232 44.641734 44.250708 44.908203 43.716797 L 44.910156 43.714844 L 44.910156 43.712891 C 45.255851 43.00208 45.073483 42.306015 44.84375 41.833984 C 44.81903 41.781934 44.67238 41.42699 44.486328 40.964844 C 44.299771 40.501443 44.059641 39.903463 43.804688 39.267578 C 43.294778 37.995809 42.722418 36.57638 42.353516 35.746094 C 42.023682 35.00017 41.647885 34.547881 41.222656 34.298828 C 40.798805 34.050582 40.378251 34.037375 40.085938 34.027344 L 40.082031 34.027344 C 39.59203 34.006824 39.04652 34.007812 38.505859 34.007812 z M 38.505859 35.007812 C 39.047859 35.007812 39.583912 35.008017 40.042969 35.027344 L 40.044922 35.027344 L 40.046875 35.027344 C 40.336463 35.037344 40.523526 35.048914 40.716797 35.162109 C 40.910068 35.275306 41.161287 35.521315 41.439453 36.150391 L 41.439453 36.152344 C 41.792551 36.947058 42.367862 38.370894 42.876953 39.640625 C 43.131499 40.275491 43.371026 40.871978 43.558594 41.337891 C 43.746162 41.803803 43.868468 42.11061 43.943359 42.267578 L 43.943359 42.269531 L 43.945312 42.271484 C 44.117584 42.625453 44.200021 42.888202 44.011719 43.275391 C 43.732078 43.836093 43.628816 44.10771 43.267578 44.541016 L 43.271484 44.539062 C 42.849498 45.036737 42.395601 45.631526 42.076172 45.949219 L 42.074219 45.951172 L 42.072266 45.953125 C 41.866106 46.162324 41.597043 46.42067 41.451172 46.820312 C 41.3053 47.219955 41.353032 47.735136 41.642578 48.234375 C 42.131246 49.08401 43.779342 51.807915 46.259766 54.048828 C 47.843016 55.479235 49.308033 56.420713 50.478516 57.054688 C 51.649358 57.688856 52.55612 58.035267 52.892578 58.207031 L 52.894531 58.207031 L 52.896484 58.208984 C 53.348 58.433911 53.76331 58.562551 54.1875 58.509766 C 54.611115 58.457056 54.970009 58.206586 55.253906 57.878906 C 55.740453 57.317584 57.27629 55.501011 57.869141 54.603516 C 58.090353 54.268631 58.203462 54.22569 58.345703 54.208984 C 58.487944 54.192274 58.744235 54.253544 59.103516 54.384766 C 59.387252 54.490292 60.619807 55.069829 61.808594 55.650391 C 62.998414 56.231457 64.200934 56.832627 64.597656 57.035156 L 64.599609 57.035156 C 65.017738 57.246782 65.358451 57.403579 65.591797 57.533203 C 65.825143 57.662827 65.927318 57.761791 65.951172 57.802734 C 65.914652 57.739734 65.975324 57.878684 65.990234 58.076172 C 66.005144 58.273659 66.002419 58.547971 65.974609 58.873047 C 65.918999 59.523198 65.758137 60.377292 65.435547 61.292969 C 65.166206 62.060292 64.247616 62.979278 63.199219 63.666016 C 62.150821 64.352753 60.955329 64.820103 60.378906 64.875 C 59.591675 64.94676 58.967575 65.104839 57.638672 64.923828 C 56.308822 64.742686 54.27919 64.209071 50.871094 62.849609 C 46.851545 61.242569 43.534109 58.32722 41.179688 55.738281 C 40.002477 54.443812 39.065309 53.232645 38.398438 52.3125 C 38.065002 51.852427 37.799306 51.465642 37.603516 51.175781 C 37.407726 50.885921 37.302422 50.715952 37.214844 50.599609 C 36.797398 50.029115 33.998047 46.195201 33.998047 42.396484 C 33.998047 38.519242 35.92619 36.737542 36.716797 35.873047 L 36.716797 35.871094 L 36.71875 35.871094 C 37.356331 35.161334 38.097339 35.007812 38.505859 35.007812 z"/></svg>
                    </a>
                </div>
            </div>
        </div>
    </footer>

    <div class="copyright">
        <div class="mid-container">

            <p>{% trans "Designed and developed by:" %} </p>
            <p>{% trans "Copyrights" %} © 2020 <span><a href="#">{% trans "Chara.Accessoires" %}</a></span>
            </p>
        </div>
    </div>

    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/owl.carousel.min.js" %}"></script>
    <script src="{% static "js/slick.js" %}"></script>
    <script src="{% static "js/main.js" %}"></script>
</body>
</html>





