{% extends 'base.html' %}
{% load static i18n %}
{% block content %}
    <div class='contact'>
        <div class='smaller__container container'>
            <div class='contact__container--content'>
                <h1 class="smaller__container--h1">Contact</h1>
                <div class='contact__paragraphs'>
                    <p class='contact__container--p'>We are so happy to serve for our clients. Chara. Accessories
                        Factory is
                        one in Uzbekistan that always cares about its clients.</p>
                    <p class='contact__container--p'>As long as you have problems while
                        receiving
                        your nice products from us, you can contact with us,
                        and we will be so happy to support and reach out to our clients. We keep you safe at home.</p>
                </div>
            </div>

            <div class='contact__field'>
                <h3 class='contact__field--h3'>Supportive contacts:</h3>
                <div class='contact__form'>
                    <div class='contact__section'>
                        <form class='section__form'>
                            <div>
                                <input class='section__form--input' type="text" name='Name' placeholder='Name'
                                    required />
                            </div>
                            <div>
                                <input class='section__form--input' type='text' name='Number' placeholder='Number'
                                    required />
                            </div>
                            <div>
                                <input class='section__form--input' type='email' inputmode='email' name='Email'
                                    placeholder='Email' required />
                            </div>
                            <div>
                                <textarea class='section__form--textarea' type='text'
                                    placeholder="About your project"></textarea>
                            </div>
                            <div>
                                <input type="submit" class="form__submit--btn" value="Send Now" />
                            </div>
                        </form>
                    </div>
                    <div class='contact__aside'>
                        <div class='contact__aside--links'>
                            <p class='contact__aside--p'>Cell phones:</p>
                            <div class='contact__aside--numbers'>
                                <a class='aside__links--link' href="tel:99899 777 77 77">99899 777 77 77</a>
                                <a class='aside__links--link' href="tel:99899 777 77 77">99899 777 77 77</a>
                            </div>
                        </div>
                        <div class='contact__aside--links'>
                            <p class='contact__aside--p'>Telegram:</p>
                            <a class='aside__links--link' href="tel:99899 777 77 77">99899 777 77 77</a>
                        </div>
                        <div class='contact__aside--links'>
                            <p class='contact__aside--p'>Mails:</p>
                            <div class='contact__aside--mails'>
                                <a class='aside__links--link' href="mailto:info@pixyz.com">info@mail.com</a>
                                <a class='aside__links--link' href="mailto:info@pixyz.com">info@mail.com</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class='map'>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2995.886226666163!2d69.29593151572581!3d41.33308730732205!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38aef50c8166a78f%3A0xc7877002a8f5d134!2sBusiness%20center!5e0!3m2!1sen!2s!4v1595098122424!5m2!1sen!2s"
            width="100%" height="642px" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
            tabindex="0"></iframe>
    </div>
{% endblock %}