{% extends "base.html" %}
{% load static i18n %}
{% block content %}
 <section class="shop-online">
        {% for banner_item in Banner %}
            <div class="large-container">
                <div class="shop-img left">
                    <img src="{{ banner_item.image.url }}" alt="shop">
                </div>
                <div class="shop-center">
                    <span>{{ banner_item.title }}</span>
                    <a href="#">{{ banner_item.title_1 }}</a>
                </div>
                <div class="shop-img right">
                    <img src="{{ banner_item.image_1.url }}" alt="shop">
                </div>
            </div>
        {% endfor %}
        <div class="sale">
            {% for discount_item in Discount %}
            <div class="sale-btn">
                <img src="{% static 'img/sale.png' %}" alt="">
                <a href="#">{{ discount_item.title }}</a>
            </div>
            {% endfor %}
            <div class="sale-learnMore">
                <a href="#">{% trans "Learn more" %}</a>
            </div>

        </div>
    </section>
    <section class="all-accessories">
        <div class="large-container">
            {% for Accesssories_item in ACCESSORIES %}
                <div class="accessories-title">
                    <a href="{% url 'app:product_list' %}" class="href"><h2>{{ Accesssories_item.title }}</h2></a>
                </div>
                <div class="accessories-blocks">
                    <div class="acc-block">
                        <div class="acc-block__itemUp">
                            <div class="acc-content__bottomUp">
                                <span>{{ Accesssories_item.name }}</span>
                                <br>
                                <span>Shop Now</span>
                            </div>
                            <div class="image__item">
                                <img src="
                                    {% if Accesssories_item.image %}
                                        {{ Accesssories_item.image.url }}
                                    {% else %}
                                        {% static 'img/no_image.jpg' %}
                                    {% endif %}">
                            </div>
                        </div>
                        <div class="acc-block__itemDown">
                            <div class="acc-item1">
                                <div class="acc-content__centerDown">
                                    <span>Shop Now</span>
                                </div>
                                <div class="acc-content__bottomDown">
                                    <span>{{ Accesssories_item.name }}</span>
                                    <br>
                                    <span>Shop Now</span>
                                </div>
                                <div class="image__item">
                                    <img src="
                                        {% if Accesssories_item.image %}
                                            {{ Accesssories_item.image.url }}
                                        {% else %}
                                            {% static 'img/no_image.jpg' %}
                                        {% endif %}">
                                </div>
                            </div>
                            <div class="acc-item2">
                                <div class="acc-content__bottomDown">
                                    <span>{{ Accesssories_item.name }}</span>
                                    <br>
                                    <span>Shop Now</span>
                                </div>
                                <div class="image__item">
                                    <img src="
                                        {% if Accesssories_item.image %}
                                            {{ Accesssories_item.image.url }}
                                        {% else %}
                                            {% static 'img/no_image.jpg' %}
                                        {% endif %}">
                                </div>
                            </div>
                        </div>
                    </div>
            {% endfor %}
            {% for product_item in ProductsTypes %}
                <div class="block-with__content">
                    <div class="block-first__content">
                        {% if product_item.description %}
                            {{ product_item.description }}
                        {% endif %}
                    </div>
                    <div class="block-mid__title">
                        {% if product_item.title %}
                            <h1>{{ product_item.title }}</h1>
                        {% endif %}
                    </div>

                    <div class="with-content__box">
                        <div class="with-box__content">
                            <div class="with-boxContent__title">
                                {% if product_item.name %}
                                    <h2>{{ product_item.name }}</h2>
                                {% endif %}
                                <img src="
                                        {% if product_item.image %}
                                            {{ product_item.image.url }}
                                        {% endif %}">
                            </div>
                                {% if product_item.description %}
                                    {{ product_item.description}}
                                {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>

        </div>
    </section>
{% endblock %}
