{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" href="{% static "css/owl.carousel.min.css" %}">
    <link rel="stylesheet" href="{% static "css/styles.css" %} ">
    <link rel="stylesheet" href="{% static "css/owl.carousel.min.css" %}">
    <link rel="stylesheet" href="{% static "css/media.css" %}">
    <title>Chara accessories</title>
</head>

<body>
    <header>
        <div class='container'>
            <div class='header__top'>
                <div class="header-top__section">
                    <p class='top__section--p'>Quick Contacts: <a class='top__section--link'
                            href="tel:99899 777 77 77">+99899 777 77 77</a></p>
                </div>
                <div class='header-top__aside'>
                    <form class='search'>
                        <button type='submit' class='search--btn'><svg xmlns="http://www.w3.org/2000/svg" width="20.854"
                                height="20.854" viewBox="0 0 20.854 20.854">
                                <path id="Union_2" data-name="Union 2"
                                    d="M-4537.4,688.6a6.48,6.48,0,0,1-4.6,1.9,6.5,6.5,0,0,1-6.5-6.5,6.5,6.5,0,0,1,6.5-6.5,6.5,6.5,0,0,1,6.5,6.5,6.479,6.479,0,0,1-1.9,4.6l8.9,8.9Z"
                                    transform="translate(4549 -677)" fill="#fff" stroke="#000" stroke-width="1" />
                            </svg>
                        </button>
                        <input class='search__field' type='text' placeholder="Search Ch.accessoires">
                    </form>
                    <div class='header__signIn'>
                        <a class='header__signIn--link' href="#">Sign In</a>
                    </div>
                    <div class='header__basket'>
                        <a class='header__basket--link' href="#">
                            <i class="fas fa-shopping-bag"></i>
                        </a>
                    </div>
                    <li class='nav__item nav__item--langs'>EN
                        <svg class='langs-chev' xmlns="http://www.w3.org/2000/svg" width="16.99" height="9.19"
                            viewBox="0 0 16.99 9.19">
                            <g id="chevron" transform="translate(-1604.001 -32.968)">
                                <path id="Path_7112" data-name="Path 7112"
                                    d="M1.085.057a.5.5,0,0,1,.5.5L1.6,11.542a.5.5,0,1,1-1,0L.586.556A.5.5,0,0,1,1.085.057Z"
                                    transform="translate(1603.546 34.059) rotate(-45)" fill="currentColor" />
                                <path id="Path_7113" data-name="Path 7113"
                                    d="M.476-.024a.5.5,0,0,1,.5.5L.959,11.459a.5.5,0,1,1-1,0L-.024.476A.5.5,0,0,1,.476-.024Z"
                                    transform="translate(1620.285 33.013) rotate(45)" fill="currentColor" />
                            </g>
                        </svg>
                        <ul class='nav__langs'>
                            <li class='nav__lang'><a class='nav__lang--link' href='#'>RU</a></li>
                            <li class='nav__lang'><a class='nav__lang--link' href='#'>EN</a></li>
                            <li class='nav__lang'><a class='nav__lang--link' href='#'>UZ</a></li>
                        </ul>
                    </li>
                </div>

            </div>
            <nav class='nav'>
                <div class='nav__logo'>
                    <a class='nav__logo--link' href="index.html">chara.<br> accessories</a>
                </div>

                <ul id='menu' class='nav__list'>
                    <li class='nav__item'>
                        <a class='nav__link' href="about.html">About Chara</a>
                    </li>
                    <li class='nav__item'>
                        <a class='nav__link' href="new.html">New</a>
                    </li>
                    <li class='nav__item'>
                        <a class='nav__link' href="women.html">Women</a>
                    </li>
                    <li class='nav__item'>
                        <a class='nav__link' href="kids.html">Kids</a>
                    </li>
                    <li class='nav__item'>
                        <a class='nav__link' href="contact.html">Contact</a>
                    </li>

                </ul>
            </nav>
        </div>
    </header>
    <div class='hero-top'>
        <div class='container'>
            <div class='slider'>
                <div class='slider__slide'>
                    <p class='slider__slide--p'>Summer Gift 5% Shop Now</p>
                </div>
                <div class='slider__slide'>
                    <p class='slider__slide--p'>Summer Gift 6% Shop Now</p>
                </div>
                <div class='slider__slide'>
                    <p class='slider__slide--p'>Summer Gift 7% Shop Now</p>
                </div>
                <div class='slider__slide'>
                    <p class='slider__slide--p'>Summer Gift 8% Shop Now</p>
                </div>
                <div class='slider__slide'>
                    <p class='slider__slide--p'>Summer Gift 9% Shop Now</p>
                </div>
                <a class="prev" onclick="plusSlides(-1)">
                    <svg class='prev--svg' xmlns="http://www.w3.org/2000/svg" width="5.402" height="16.332"
                        viewBox="0 0 5.402 16.332">
                        <path id="Path_6" data-name="Path 6" d="M0,0,4.39,8.164,0,15.847"
                            transform="translate(4.962 16.095) rotate(180)" fill="none" stroke="currentColor"
                            stroke-width="1" />
                    </svg>
                </a>
                <a class="next" onclick="plusSlides(1)">
                    <svg class='next--svg' xmlns="http://www.w3.org/2000/svg" width="5.402" height="16.332"
                        viewBox="0 0 5.402 16.332">
                        <path id="Path_6" data-name="Path 6" d="M0,0,4.39,8.164,0,15.847"
                            transform="translate(4.962 16.095) rotate(180)" fill="none" stroke="currentColor"
                            stroke-width="1" />
                    </svg>
                </a>
            </div>
        </div>
    </div>


    <footer class='footer'>
        <div class='footer__container container'>
            <div class='footer__list'>
                <div class='footer__item'>
                    <h1 class='footer__item--h1'><a class='footer__logo--link' href="#">chara.<br> accessories</a></h1>
                    <p class='footer__item--p'>Lorem Ipsum Dolor Sit Amet,
                        Consectetur Adipiscing Elit,
                        Sed Do Eiusmod Tempor
                        Incididunt Ut Labore Et Dolore
                        Magna Aliqua. </p>
                </div>
                <div class='footer__item'>
                    <h2 class='footer__item--h2'>Chara's Products</h2>
                    <ul class='footer__item--list'>
                        <li class='list__item'><a class='footer__item--link' href='#'>For Baby girls</a></li>
                        <li class='list__item'><a class='footer__item--link' href='#'>For Ladies</a></li>
                        <li class='list__item'><a class='footer__item--link' href='#'>For Wedding</a></li>
                    </ul>
                </div>
                <div class='footer__item'>
                    <h2 class='footer__item--h2'>Quick Links</h2>
                    <ul class='footer__item--list'>
                        <li class='list__item'><a class='footer__item--link' href='#'>About Chara</a></li>
                        <li class='list__item'><a class='footer__item--link' href='#'>New</a></li>
                        <li class='list__item'><a class='footer__item--link' href='#'>Women</a></li>
                        <li class='list__item'><a class='footer__item--link' href='#'>Girls</a></li>
                    </ul>
                </div>
                <div class='footer__item'>
                    <h2 class='footer__item--h2'>Help</h2>
                    <ul class='footer__item--list'>
                        <li class='list__item'><a class='footer__item--link' href='#'>Support</a></li>
                        <li class='list__item'><a class='footer__item--link' href='#'>FAQs</a></li>
                        <li class='list__item'><a class='footer__item--link' href='#'>Contact</a></li>
                        <li class='list__item'><a class='footer__item--link' href='#'>Delivery</a></li>
                    </ul>
                </div>
                <div class='footer__item'>
                    <h2 class='footer__item--h2'>Social Media</h2>
                    <div class='social__icons'>
                        <i class="fab fa-instagram social__icons--icon"></i>
                        <i class="fab fa-facebook-f social__icons--icon"></i>
                        <i class="fab fa-twitter social__icons--icon"></i>
                        <i class="fab fa-linkedin-in social__icons--icon"></i>
                        <i class="fab fa-youtube social__icons--icon"></i>
                    </div>
                </div>
            </div>

            <div class='footer__copyright'>
                <div class='copyright__section'>
                    <p class='copyright__section--p'>Designed and developed by: </p>
                </div>
                <div сlass='copyright__aside'>

                    <p class='copyright__aside--p'>© Copyright 2020 Chara.Accessoires</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="./script.js"></script>
</body>

</html>